#player1{
  /* background-color: darkgreen; */
  height: 500px;
  width: 500px;
  /* text-align: center; */
  /* color: white */
}
#player2{
  /* background-color: red; */
  height: 500px;
  width: 500px;
  /* text-align: center; */
  /* color: white; */
}

#player2 h1{
  margin: 0 auto;
}
h3{
  /* background: black; */
  height:50px;
  width: 50px;
  /* color:black; */
}
h4{
  /* background: black; */
  height: 50px;
  width: 400px;
  /* color: #000; */
}

/* Dice style */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  background-color: darkgreen;
  perspective: 1000px;
  color: #ffffcc; }

#pointRollButton {
  display: none; }

#winOrLoss {
  text-align: center; }

/* MODAL THINGS*/
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(170, 133, 57, 0.7);
  z-index: 9998;
  color: #ffffcc; }

.modal-overlay,
.modal {
  visibility: hidden;
  opacity: 0; }

/* HEADER */
header {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; }
  header h1 {
    float: left; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav li {
  float: right;
  margin: 15px;
  padding: 10px 50px;
  background: #dddddd;
  border-radius: 8px;
  box-shadow: 0 3px #999;
  transition: .3s;
  text-transform: uppercase; }

nav li:hover {
  background: #999;
  cursor: pointer;
  margin-top: 16px;
  padding: 11px 50px 9px 50px; }

/* BUTTONS */
.roll-button {
  margin: 15px auto; }

button {
  padding: 10px 50px;
  color: #ffffcc;
  background: #AA4F39;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px #802915;
  outline: none;
  transition: .3s; 
}

button:hover, button:active {
  outline: none;
  background: #802915;
  cursor: pointer;
  padding: 11px 50px 9px 50px;
  margin-top: 15px; }

.dice-board {
  width: 100%;
  height: 50%; }

/*########## DICE THINGS ###########*/
.container-dice {
  display: inline-block;
  margin-top: 100px;
  width: 300px;
  margin: 50px auto 0 auto; }
/* 
.dice {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transition: transform 1s; 
}

.divot {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border-radius: 20px;
  background: #000; }

.dice-one {
  margin-left: 150px; }

.dice-two {
  margin-left: 150px; }

.side {
  background-color: rgba(255, 255, 204, 0.97);
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid gold; }

.side:nth-child(1) {
  transform: translateZ(100px); }

.side:nth-child(6) {
  transform: rotateY(180deg) translateZ(100px); }

.side:nth-child(3) {
  transform: rotateY(90deg) translateZ(100px); }

.side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(100px); }

.side:nth-child(5) {
  transform: rotateX(90deg) translateZ(100px); }

.side:nth-child(2) {
  transform: rotateX(-90deg) translateZ(100px); }

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg); }

.show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg); }

.show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg); }

.show-4 {
  transform: rotateY(810deg) rotateZ(720deg); }

.show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg); }

.show-2 {
  transform: rotateX(450deg) rotateZ(-720deg); }

/* Dice Dots */
.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 20%;
  left: 20%; }

.four-3, .five-3, .six-4 {
  top: 20%;
  left: 80%; }

.one-1, .three-2, .five-5 {
  top: 50%;
  left: 50%; }

.four-2, .five-2, .six-3 {
  top: 80%;
  left: 20%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 80%;
  left: 80%; }

.six-2 {
  top: 50%;
  left: 20%; }

.six-5 {
  top: 50%;
  left: 80%; } */

/* CLEARFIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }
#restart{
  margin-top:10px;
  margin-left: 70px;
}
.players{
  font-family: 'Monoton', cursive;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top:10px;
  overflow: hidden;
  background: #297A4A;
}
#alert-1, #alert-2{
  height: 50px;
  width: 400px;
}
#dice-image{
  margin-top: 10px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background-size: contain;
  background: #ffffcc;
  border-radius: 10px;
  margin-left: 60px;

}
#dice-image img{
  max-width: 100%;
  max-height: 100%;
}
#game-name{
  margin-left: 35%;
  margin-top: 0px
  
}

.col-sm-4{
  border: #ffffcc solid;
}



@keyframes spin {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  33% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  50% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  66% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  83% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes spin-duplicate {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  33% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  50% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  66% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  83% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes roll {
  0% { transform: translate3d(-200px,-50px,-400px) }
  12% { transform: translate3d(0px,0,-100px) }
  25% { transform: translate3d(200px,-50px,-400px) }
  37% { transform: translate3d(0px,-100px,-800px) }
  50% { transform: translate3d(-200px,-50px,-400px) }
  62% { transform: translate3d(0px,0,-100px) }
  75% { transform: translate3d(200px,-50px,-400px) }
  87% { transform: translate3d(0px,-100px,-800px) }
  100% { transform: translate3d(-200px,-50px,-400px) }
}
#roll:checked ~ #platform > #dice {
  animation: spin-duplicate 2s infinite linear;
}
#roll:checked ~ #platform {
  width:200px;
  height:200px;
  transform-style: preserve-3d;
  animation: roll 1.6s infinite linear;
}
#secondroll:checked ~ #roll:checked ~ #platform > #dice,
#secondroll:checked ~ #roll:checked ~ #platform {
  animation-play-state: paused;
}
#wrapper {
  position: relative;
  width: 200px;
  padding-top: 100px;
  margin: 0 auto;
  perspective: 1200px;
}
#platform {
margin-top:100px;
}
#dice span {
  position:absolute;
  margin:100px 0 0 100px;
  display: block;
  font-size: 2.5em;
  padding: 10px;
}
#dice {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: spin 50s infinite linear;
}
.side {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fff;
  box-shadow:inset 0 0 40px #ccc;
  border-radius: 40px;
}
#dice .cover, #dice .inner {
  background: #e0e0e0;
  box-shadow: none;
}
#dice .cover {
  border-radius: 0;
  transform: translateZ(0px);
}
#dice .cover.x {
  transform: rotateY(90deg);
}
#dice .cover.z {
  transform: rotateX(90deg);
}
#dice .front  {
  transform: translateZ(100px);
}
#dice .front.inner  {
  transform: translateZ(98px);
}
#dice .back {
  transform: rotateX(-180deg) translateZ(100px);
}
#dice .back.inner {
  transform: rotateX(-180deg) translateZ(98px);
}
#dice .right {
  transform: rotateY(90deg) translateZ(100px);
}
#dice .right.inner {
  transform: rotateY(90deg) translateZ(98px);
}
#dice .left {
  transform: rotateY(-90deg) translateZ(100px);
}
#dice .left.inner {
  transform: rotateY(-90deg) translateZ(98px);
}
#dice .top {
  transform: rotateX(90deg) translateZ(100px);
}
#dice .top.inner {
  transform: rotateX(90deg) translateZ(98px);
}
#dice .bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
#dice .bottom.inner {
  transform: rotateX(-90deg) translateZ(98px);
}
.dot {
  position:absolute;
  width:46px;
  height:46px;
  border-radius:23px;
  background:#444;
  box-shadow:inset 5px 0 10px #000;
}
.dot.center {
  margin:77px 0 0 77px;
}
.dot.dtop {
  margin-top:20px;
}
.dot.dleft {
  margin-left:134px;
}
.dot.dright {
  margin-left:20px;
}
.dot.dbottom {
  margin-top:134px;
}
.dot.center.dleft {
  margin:77px 0 0 20px;
}
.dot.center.dright {
  margin:77px 0 0 134px;
}

#background {
position:fixed;
z-index:-1;
width:100%;
height:100%;
background: #071a1e;
background: -moz-linear-gradient(top, #071a1e 0%, #274249 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#071a1e), color-stop(100%,#274249));
background: -webkit-linear-gradient(top, #071a1e 0%,#274249 100%);
background: linear-gradient(to bottom, #071a1e 0%,#274249 100%);
}
label, input[type=checkbox]:before {
position: absolute;
overflow:hidden;
top:40px;
left:40px;
display:block;
width:120px;
padding-top:9px;
height:31px;
cursor:pointer;
text-align:center;
font-size:1.2em;
font-weight:bold;
color:#fff;
border-radius:6px;
border:1px solid;
}
input[type=checkbox]:before {
background:transparent;
border-color:transparent;
}
input[type=checkbox] {
display:none;
}
label {
opacity:.5;
transition:all .3s ease;
}
label:hover {
opacity:1;
box-shadow:0 0 18px rgba(255,255,255,.5);
}
label[for=roll] {
z-index:1;
text-shadow:0 -1px 0 #006699;
border-color:#17C7EC;
background: -moz-linear-gradient(top, #0099CC 0%, #006699 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099CC), color-stop(100%,#006699));
background: -webkit-linear-gradient(top, #0099CC 0%,#006699 100%);
background: linear-gradient(to bottom, #0099CC 0%,#006699 100%);
}
label[for=secondroll] {
margin-top:-100px;
text-shadow:0 -1px 0 #CC0033;
border-color:#FF8298;
background: -moz-linear-gradient(top, #FF6666 0%, #CC0033 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6666), color-stop(100%,#CC0033));
background: -webkit-linear-gradient(top, #FF6666 0%,#CC0033 100%);
background: linear-gradient(to bottom, #FF6666 0%,#CC0033 100%);
}
#roll:checked ~ label[for=roll] {
margin-top:-100px;
}
#roll:checked ~ label[for=secondroll] {
margin-top:0px;
}
#secondroll:checked ~ label[for=secondroll] {
text-shadow:0 -1px 0 #336633;
border-color:#66FF99;
background: -moz-linear-gradient(top, #66CC66 0%, #336633 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66CC66), color-stop(100%,#336633));
background: -webkit-linear-gradient(top, #66CC66 0%,#336633 100%);
background: linear-gradient(to bottom, #66CC66 0%,#336633 100%);
}
#secondroll:checked ~ label[for=secondroll] span {
display:none;
}
#secondroll:checked ~ label[for=secondroll]:after {
content:"Keep rollin'!";
}